* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

input {
    border: 0;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.warning{
    padding-top: 20px !important;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #222222;
    background: #F7F7F7;
    text-align: center !important;
}

.text-warning{
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center !important;
}

.text-warning-link{
    color: inherit !important;
    display: inline-block !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;
        height: 80px;
        padding: 0 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        animation: HeaderFromTop 1s;
        background-color: #ffffff;
        z-index: 9;
        position: relative;
        top: 0;
}

.header-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 0 24px;
    border-radius: 21px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.header-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 0 24px;
    border-radius: 21px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.header-session > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    padding: 5px 16px;
    height: 100%;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-session > div:last-child {
    border-right: 0;
}

.header-session-button > button > i {
    color: #ff385c;
}


.text-motivation{
    padding-top: 20px;
    font-size: 3.5vw !important;
    letter-spacing: -0.02em !important;
    line-height: 4.2vw !important;
    max-width: 60% !important;
    background: linear-gradient(to right, #92174D 9.38%, #E41D5C 88.54%) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
}

.text-motivation-h1{
    color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

span{
    font-size: 3.5vw !important;
}

.local > h1 {
    font-size: 2em;
    padding-top: 20px;
    margin-bottom: 16px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-top: 32px;
    padding: 0 24px;
    animation: FromLeft 1s;
  }
    
  .card__item {
    max-width: 100%;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in-out;
  }
  
  .card__item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card__item--image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card__description {
    padding: 8px 16px;
  }
  
  .card__description--type {
    width: max-content;
    margin-bottom: 12px;
  
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 8px 16px;
  }
  
  .card__description--name {
    margin-bottom: 12px;
    font-size: 18px;
  }
  
  .card__description--price {
    margin-bottom: 12px;
  }


footer {
    margin-top: 64px;
    padding: 32px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    text-align: center;
    background: #F7F7F7;
  }
  
  .ToTop,
  .media {
    margin-bottom: 20px;
  }
  
  .media_icon {
    margin-right: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .media_icon:hover {
    color: #ff385c;
  }

  @media only screen and (max-width: 800px) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 425px) {
    #cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }